<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Animals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body style="margin-left: 250px; margin-right: 250px; margin-top: 40px; margin-bottom: 40px">

    <h3 th:text="${animal.name}">name</h3>

    <p th:text="${animal.desc}">desc</p>

    <img th:src="${animal.img}"/>



</body>
</html>